{% extends "base_page.html" %}
{% block body %}
<h1>Editor</h1>

{% for form in state_forms %}
<form method="post">
	<h3>{{ form.instance.name }}</h3>
	<input type="hidden" name="state_id" value="{{ form.instance.id }}">

	{% for field in form %}
		{{ field.label_tag }}<br/>
		{{ field }}
	{% endfor %}
	{% csrf_token %}
	<br/>
	<input type="submit" value="Save">
</form>
{% endfor %}

{% for form in task_forms %}
<form method="post">
	<h3>{{ form.instance.name }}</h3>
	<input type="hidden" name="task_id" value="{{ form.instance.id }}">

	{% for field in form %}
		{{ field.label_tag }}<br/>
		{{ field }}
	{% endfor %}
	{% csrf_token %}
	<br/>
	<input type="submit" value="Save">
</form>
{% endfor %}

{% endblock %}