{% extends "base_page.html" %}
{% block body %}
<h1>HeartSim</h1>

{% if user.is_authenticated %}
	Logged in as: {{ user.username }} (<a href="/logout">Logout</a>)
	<br/><br/>
	<hr/>
	<h2>Character select</h2>
	<ul>
		{% for character in characters %}
		<li>
			{{ character.name }}
			(<a href="/character/{{ character.id }}">Start</a>)
		</li>
		{% endfor %}
		<li><a href="/new_character">Create Character</a></li>
	</ul>
{% else %}
<a href="/login">Login</a><br/>
<a href="/register">Register</a>
{% endif %}

{% endblock %}