{% extends "base_page.html" %}

{% block body %}

<div class="center">
	<h1>Register</h1>
	{% if user.is_authenticated %}
	You are already logged in.
	{% else %}
	<form method="post">
		{% csrf_token %}
		<div class="input-group">
			<input type="text" name="username" autocomplete="on" placeholder="Username" required>
		</div>
		<div class="input-group">
			<input type="text" name="email" autocomplete="on" placeholder="Email" required>
		</div>
		<div class="input-group">
			<input type="password" name="password" autocomplete="on" placeholder="Password" required>
			<span class="toggle-password">👁</span>
		</div>
		<div class="input-group">
			<input type="password" name="confirm_password" autocomplete="on" placeholder="Confirm Password" required>
			<span class="toggle-password">👁</span>
		</div>
		<p><input type="submit" value="Register"></p>
	</form>
</div>
{% endif %}

<script>
	include("toggle_password");
</script>
{% endblock %}