:root {
	--background: black;
	--text-color: white;
	--theme-color: lime;
}

* {
	margin: 0;
	font-family: Consolas;
}

html {
	background-color: var(--background);
	color: var(--text-color);
	height: 100%;
}

body {
	display: flex;
    min-height: 100%;
	height: max-content;
}

#page {
	position: relative;
	margin: 32px;
	padding: 16px;
	flex-grow: 1;
	display: flex;
    flex-direction: column;
}

#page, #world, #view, #stat_view, #terminal, #logger {
	border: solid 1px var(--theme-color);
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

#world_page {
	height: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#world {
	display: flex;
	justify-content: space-between;
	height: 60%;
}

#view {
	width: 70%;
}

#stat_view {
	flex-grow: 1;
}

#logger {
	flex-grow: 1;
	max-height: 40%;
	overflow: auto;
}

#logger ul {
	margin: 8px;
	padding-inline-start: 0;
}

#logger li {
	list-style: none;
	color: var(--theme-color);
}

#terminal {
	display: flex;
}

#terminal input {
	width: 100%;
}

#view, #stat_view {
	padding: 8px;
}

a, a:visited {
	color: var(--theme-color);
}

.toggle-password {
	position: relative;
	right: 1.75em;
	cursor: pointer;
	color: var(--background);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	flex-direction: column;
}

#error_status {
	color: red;
}