* {
	margin: 0;
}

html {
	background-color: black;
	color: white;
	height: 100%;
}

body {
	height: 90%;
}

#page {
	margin: 32px;
	padding: 16px;
	height: 100%;
}

#page, #world, #view, #stats, #terminal, #logger {
	border: solid 1px white;
}

#character_page {
    height: -webkit-fill-available;
    margin-bottom: 16px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#world {
    display: flex;
    justify-content: space-between;
    height: 60%;
}

#view {
	width: 70%;
}

#stats {
    flex-grow: 1;
}

#logger {
	flex-grow: 1;
}

#logger ul {
	margin: 8px;
	padding-inline-start: 0;
}

#logger li {
	list-style: none;
	color: lime;
}

#terminal {
	display: flex;
}

#terminal input {
	width: 100%;
}

a, a:visited {
	color: lime;
}

.toggle-password {
	position: relative;
	right: 1.5em;
	cursor: pointer;
	color: black;
}